* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
}
@media (max-width: 800px){
    .portfolio-container {
        min-height: 69vh;
    }
}

.navlist {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}
@media (max-width: 800px){
    .navlist{
        font-size: 2.5vw;
    }
}
.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
}

.left-container {
    background: #000000;
    width: 70%;
    height: 100vh;
}
@media (max-width: 800px){
    .left-container{
        height: 69vh;
    }
}

.right-container {
    background: #3877FF;
    width: 30%;
}

.icons {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    top: 40vh;
    left: 3vw;
    font-size: 4vh;
}
@media (max-width: 800px){
    .icons{
        font-size: 4vh;
        flex-direction: row;
        left: 14vw;
        top: 45vh;
    }
}

.fa-brands,
.fab {
    font-weight: 400;
    margin-top: 4vh;
    margin-left: 3vw;
}

.photo {
    height: 50vh;
    width: 44vh;
    position: absolute;
    border-radius: 56%;
    left: 58vw;
    top: 25vh;
    border: 10px solid cyan;
    box-shadow: 0 0 10px 4px cyan;
}
@media (max-width: 800px) {
    .photo{
        height: 17vh;
        width: 25vw;
    }
}
.myimg2{
        height: 28vh;
        width: 15vw;
        position: absolute;
        margin-top: 4vh;
        margin-left: 2vw;
}
@media (max-width: 800px){
    .myimg2 {
        height: 8vh;
        width: 14vw;
        margin-left: 4vw;
        margin-top: 9vh;
    }
}

.intro {
    position: absolute;
    color: white;
    top: 40vh;
    width: 44vw;
    font-size: 2rem;
    left: 14vw;
}
@media (max-width: 800px){
    .intro{
        font-size: 4.5vw;
        top: 20vh;
    }
}

.secline {
    font-size: 2.5vw;
    color: cyan;
    margin-top: 3vh;
    opacity: 0.6;
    font-family: Chakra Petch;
}
.section {
    background: linear-gradient(180deg, #21256b, black);
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 6vh;
}

.aboutme {
    background-color: black;
    color: #00ccff;
    padding: 6vw;
    background: linear-gradient(-2deg, #22266f, black);
}
.abtxt {
    margin-left: 37vw;
    font-size: 2.5vw;
    font-family: Helvetica;
}
.abtxt21 {
    padding: 4vh 0 0px 0px;
    color: white;
    margin-left: 37vw;
    width: 50vw;
    font-size: 1.6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hire {
    font-family: monospace;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    font-weight: 900;
    background: linear-gradient(45deg, #000c1d, #d038a1);
}
.headsec1 {
    text-align: center;
    font-family: Mate SC;
    font-size: 4.9vw;
}
.section1 {
    height: auto;
    background: linear-gradient(180deg, black, #0d0e2a);
    color: white;
    padding: 1vh;
    padding-bottom: 20vh;
}
@media (max-width: 800px) {
    .section1{
        padding-bottom: 4vh;
    }
}
.introint{
    font-size: 2rem;
    opacity: 0.5;
    font-family: system-ui;
}
@media (max-width: 800px){
    .introint{
        font-size: 2.5vw;
    }
}
.introname {
    font-size: 1.5em;
    font-family: sans-serif;
}
.border {    
    height: 32vh;
    width: 16vw;
    display: flex;
    position: absolute;
    border: solid 8px;
    box-shadow: 0px 0px 20px 21px;
    animation: 5s linear 0s infinite normal none running animate;
}
@media (max-width: 800px){
    .border {
    height: 10vh;
    width: 18vw;
    margin-top: 10vh;
    }
}
.touchme {
    margin: 5vw 0 21vh 38vw;
    width: 10vw;
    height: 7vh;
    background: linear-gradient(45deg, #0cd1fb, #ff00f2);
    border-radius: 21px;
    border: #000000;
    animation: 0.5s;
    transition: transform 1.5s ease;
    font-weight: 800;
}
@media (max-width: 800px){
    .touchme {
    margin: 5vw 0 0vh 38vw;
    font-size: 2vw;
    width: 13vw;
    height: 3vh;
    }
}
.touchme:hover {
    transform: scale(1.1);
    animation-delay: 0.5s;
}
.touchme2{
    margin: 0vw 0 0vh 3vw;
    width: 10vw;
    height: 7vh;
    background: none;
    border: solid blue;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan;
}
@media (max-width: 800px){
    .touchme2 {
    margin: 5vw 0 0vh 38vw;
    font-size: 2vw;
    width: 13vw;
    height: 3vh;
    }
}
.touchme2:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.heading {
    padding-top: 8vh;
    text-align: center;
    font-size: 4.5vw;
    font-family: Mate SC;
}
.pro1{
    width: 39vw;
    margin-left: 5vw;
    margin-top: 16vh;
}
@media (max-width: 800px){
    .pro1{
        margin-top: 16vh;
    }
}
.pro2 {
    margin-top: 35vh;
    width: 35vw;
    margin-left: 61vw;
}
@media (max-width: 800px){
    .pro2{
        margin-top: 18vh;
    }
}
.pro12{
    width: 28vw;
    margin-left: 5vw;
    margin-top: 40vh;
}
@media (max-width: 800px){
    .pro12{
        margin-top: 18vh;
    }
}
.pro21 {
    margin-top: 45vh;
    width: 35vw;
    margin-left: 61vw;
    height: 60vh;
}
@media (max-width: 800px){
    .pro21{
        margin-top: 24vh;
        height: 33vh;
    }
}
.pro1img {
    width: 34vw;
    height: auto;
    position: absolute;
    display: flex;
    margin-left: 55vw;
    transition: transform 2s ease;
    overflow: hidden;
    box-shadow: 0px 0px 117px 31px #623298;
}
.pro1img:hover {
    transform: scale(1.1);
}
.pro2img {
    width: 27vw;
    height: auto;
    position: absolute;
    display: flex;
    right: 65vw;
    transition: transform 2s ease;
    box-shadow: 0 0 101px 22px yellow;
}
.pro2img:hover {
    transform: scale(1.1);
}
.pro3img {
    width: 27vw;
    height: auto;
    position: absolute;
    display: flex;
    margin-left: 60vw;
    transition: transform 2s ease;
    box-shadow: 0 0 101px 22px cyan;
}
.pro3img:hover {
    transform: scale(1.1);
}
.pro4img {
    width: 34vw;
    height: auto;
    position: absolute;
    display: flex;
    right: 60vw;
    transition: transform 2s ease;
    box-shadow: 0 0 101px 22px yellow;
}
.pro4img:hover {
    transform: scale(1.1);
}
.headpro1{
    margin-top: 10px;
    font-family: Michroma;
    background: linear-gradient(60deg, #dd1414, black);
}
@media (max-width: 800px){
    .headpro1{
        font-size: 3.5vw;
    }
}
.headpro2{
    margin-top: 10px;
    font-family: Tahoma;
}
@media (max-width: 800px){
    .headpro2{
        font-size: 3.5vw;
    }
}
.headpro3{
    margin-top: 10px;
    font-family: Montserrat;
    color: rgb(175, 175, 175);
}
@media (max-width: 800px){
    .headpro3{
        font-size: 1.5vw;
    }
}
.headpro4{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: greenyellow;
}
@media (max-width: 800px){
    .headpro4{
        font-size: 1.5vw;
    }
}
.icons a {
    animation: animate 5s linear infinite;
  }
#instagram{
    animation-delay: 0.3s;
}
#facebook {
    animation-delay: 0.7s;
}
#github {
    animation-delay: 0.1s;
}
@keyframes animate {
    
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.card2 {
    background: #8500ff;
    margin: 10vh 0 0 14vw;
    width: 21vw;
    height: 40vh;
    border: solid;
    border-radius: 14px;
    box-shadow: 0px 0px 14px 6px cyan;
}

.card3 {
    background: #8500ff;
    margin: 0 0 0 40vw;
    width: 21vw;
    height: 40vh;
    border: solid;
    position: absolute;
    border-radius: 14px;
    box-shadow: 0px 0px 14px 6px cyan;
}
.card4 {
    background: #8500ff;
    margin: 20vh 0 0 14vw;
    width: 21vw;
    height: 40vh;
    border: solid;
    border-radius: 14px;
    box-shadow: 0px 0px 14px 6px cyan;
}
.card5 {
    background: #8500ff;
    margin: 0 0 0 40vw;
    width: 21vw;
    height: 40vh;
    position: absolute;
    border: solid;
    border-radius: 14px;
    box-shadow: 0px 0px 14px 6px cyan;
}
@media (max-width: 800px) {
    .card2, .card3, .card4, .card5{
        height: 16vh;
    }
}
.headsec2{
    padding: 5vh 0 0 3vw;
    font-family: Chakra Petch;
    color: yellow;
}
.headsec21{
    margin: 2vh 0 30px 3vw;
    width: 16vw;
    font-size: 1.2vw;
    font-family: Calibri;
}
.headsec3{
    padding: 5vh 0 0 3vw;
    font-family: Chakra Petch;
    color: yellow;
}
.headsec31{
    margin: 2vh 0 30px 3vw;
    width: 16vw;
    font-size: 1.2vw;
    font-family: Calibri;
}
.headsec4{
    padding: 5vh 0 0 3vw;
    font-family: Chakra Petch;
    color: yellow;
}
.headsec41{
    margin: 2vh 0 30px 3vw;
    width: 16vw;
    font-size: 1.2vw;
    font-family: Calibri;
}
.headsec5{
    padding: 5vh 0 0 3vw;
    font-family: Chakra Petch;
    color: yellow;
}
.headsec51{
    margin: 2vh 0 30px 3vw;
    width: 16vw;
    font-size: 1.2vw;
    font-family: Calibri;
}
@media (max-width: 800px) {
    .headsec2, .headsec3, .headsec4, .headsec5{
        font-size: 2.5vw;
        padding: 2vh 0 0 3vw;
    }
}
.experience{
    color: white;
    padding-top: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Mate SC;
    font-size: 4.5vw;
}
.experiencesec{
    background: linear-gradient(180deg, #0d0e2a, #000000);
    height: 90vh;
}
@media (max-width: 800px){
    .experiencesec{
        height: 49vh;
    }
}
.imgs{
    position: absolute;
}
.jsimg{
    height: 10vh;
    margin: 7vw 0 2vh 10vw;
}
.jstxt{
    margin-left: 9vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 800px){
    .jsimg, .jstxt{
        height: 5vh;
        font-size: 2.5vw;
    }
}
.htmlimg{
    height: 10vh;
    margin: 7vw 0 2vh 28vw;
}
.htmltxt{
    margin-left: 28.5vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 800px){
    .htmlimg, .htmltxt{
        height: 5vh;
        font-size: 2.5vw;
    }
}
.cssimg{
    height: 10vh;
    margin: 7vw 0 2vh 45vw;
}
.csstxt{
    margin-left: 46vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 800px){
    .cssimg, .csstxt{
        height: 5vh;
        font-size: 2.5vw;
    }
}
.rimg{
    height: 10vh;
    margin: 7vw 0 2vh 61vw;
}
.rtxt{
    margin-left: 63vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 800px){
    .rimg, .rtxt{
        height: 5vh;
        font-size: 2.5vw;
    }
}
.pyimg{
    height: 10vh;
    margin: 7vw 0 2vh 76vw;
}
.pytxt{
    margin-left: 76vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
@media (max-width: 800px){
    .pyimg, .pytxt{
        height: 5vh;
        font-size: 2.5vw;
    }
}
.sqlimg{
    height: 10vh;
    margin: 42vh 0 2vh 53vw;
}
.sqltxt{
    margin-left: 55vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 800px){
    .sqlimg{
        height: 5vh;
        margin: 19vh 0 2vh 58vw;
    }
}
@media (max-width: 800px){
    .sqltxt{
        font-size: 2.5vw;
        margin: 0 0 2vh 59vw;
    }
}
.peimg{
    height: 10vh;
    margin: 42vh 0 2vh 32vw;
    background: cyan;
    border-radius: 50%;
}
.petxt{
    margin-left: 28vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 800px){
    .peimg{
        height: 5vh;
        margin: 19vh 0 2vh 22vw;
    }
}
@media (max-width: 800px){
    .petxt{
        font-size: 2.5vw;
        margin-left: 14vw;
    }
}
.img{
    position: absolute;
    width: 95vw;
    padding-top: 10vh;
}
@media (max-width: 800px){
    .img{
        padding-top: 6vh;
    }
}
.heading-contact{
    font-family: Mate Sc;
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 4.5vw;
    color: white
}
.contact{
    background: linear-gradient(180deg, black, rgb(2, 2, 63));
    padding-top: 15vh;
}
@media (max-width: 800px){
    .contact{
        padding-top: 5vh;
    }
}
.contact h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    color: #ffffff;
}
#phone{
    margin-left: 11vw;
    padding-bottom: 10vh;
    color: #ffffff;
    text-shadow: 0 0 39px cyan;
}
@media (max-width: 800px){
    #phone{
    padding-bottom: 5vh;
    }
}
#email{
    margin-left: 11vw;
    color: #ffffff;
    text-shadow: 0 0 39px cyan;
}
#linkdin{
    margin-left: 11vw;
    color: #ffffff;
    text-shadow: 0 0 39px cyan;
}